/* :root { 
    --primery-text-color: color: #757575;
    --title-text-color: color: #212121;
    --accent-text-color: color: #2196F3;
    --contacts-text-color: color: rgba(255, 255, 255, 0.6);
    --text-white-color: color: #FFFFFF;
}*/
body {
  font-family: "Roboto", sans-serif;
  color: #757575;
  letter-spacing: 0.02em;
}

/* Logo */
.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}

.logo .logo-studio {
  color: #000000;
}

.logo .logo-web {
  color: #2196f3;
}
.logo .logo-studio-fotter {
  color: #ffffff;
}

/* Navigation */
.nav .nav-link {
  color: #212121;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
}

.nav-link:hover,
.nav-link:focus {
  color: #2196f3;
}

/* Contacts Header */
.contacts .contacts-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  color: #757575;
}

.contacts-link:hover,
.contacts-link:focus {
  color: #2196f3;
}

/* Hero */
.hero {
  background-color: #2f303a;
  color: #ffffff;
}

.hero .hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
}

.hero .hero-btn {
  color: #ffffff;
  font-family: "Roboto", sans-serif;
  background-color: #2196f3;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
}

/* Edge Преимущества */
.edge .edge-title {
  color: #212121;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.edge-text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

/* Works */
.works .works-title {
  color: #212121;
  font-weight: bold;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
}

/* Stuff */
.staff .staff-title {
  color: #212121;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
}

/* Footer */
.footer {
  background-color: #2f303a;
}

.footer .adress {
  color: #ffffff;
}

.footer .adress_link {
  color: rgba(255, 255, 255, 0.6);
}

.footer .adress_link:focus,
.footer .adress_link:hover {
  color: #2196f3;
}
